/** @format */

.places__delete-image {
  width: 18px;
  height: 19px;
  background-image: url("../../assets/trash-image.svg");
  position: absolute;
  top: 15px;
  right: 15px;
}

.places__delete-image:hover {
  background-image: url("../../assets/trash-image_active.svg");
  cursor: pointer;
}
