/** @format */

.enlarged__image_active {
  opacity: 1;
  max-width: 410px;
  max-height: 540px;
  position: absolute;
  display: block;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
  .enlarged__image_active {
    width: 100%;
    height: 100%;
    top: 9%;
  }
}
