.form__container_active{
    display: block;
    width: 430px;
    height: 330px;
    background-color: #fff;
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    color: #000;
    z-index: 2;
}