/** @format */

.form__close-button_active {
  position: absolute;
  top: 11%;
  right: 30%;
  display: block;
  font-weight: 100;
  font-size: 75px;
}

.form__close-button_active:hover {
  cursor: pointer;
  color: #545454;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
  .form__close-button_active {
    width: 26px;
    height: 26px;
    top: 0%;
    right: 0%;
  }
}
