/** @format */

.places__container_name {
  width: 100%;
  height: 75px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  padding-left: 20px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
