/** @format */

.profile__rectangle {
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 35px;
  background-image: url("../../assets/add-button.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.profile__rectangle:hover {
  cursor: pointer;
  border: 1px solid #545454;
  background-image: url("../../assets/add-button_active.png");
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
  .profile__rectangle {
    width: 282px;
    height: 50px;
    top: 250px;
  }
}
