/** @format */

.profile__content {
  position: absolute;
  top: 25px;
  left: 150px;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
  .profile__content {
    width: 282px;
    height: 50px;
    left: 0px;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
