/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");

@import url("./blocks/header/header.css");
@import url("./elements/header/header__logo-img.css");

@import url("./blocks/profile/profile.css");
@import url("./elements/profile/profile__edit-img.css");
@import url("./elements/profile/profile__square.css");
@import url("./elements/profile/profile__rectangle.css");
@import url("./elements/profile/profile__content.css");
@import url("./elements/profile/profile__name.css");
@import url("./elements/profile/profile__image.css");
@import url("./elements/profile/profile__subtitle.css");

@import url("./blocks/places/places.css");
@import url("./elements/places/places__container.css");
@import url("./elements/places/places__grid.css");
@import url("./elements/places/places__image.css");
@import url("./elements/places/places__title.css");
@import url("./elements/places/places__like-button.css");
@import url("./modifers/places/places__container_name.css");@import url("./modifers/places/places__liike-button_active.css");

@import url("./elements/form/form__container.css");
@import url("./elements/form/form__close-button.css");
@import url("./elements/form/form__input.css");
@import url("./elements/form/form__title.css");
@import url("./modifers/form/form__container_active.css");
@import url("./modifers/form/form__input_submit.css");
@import url("./modifers/form/form__close-button_active.css");

@import url("./blocks/footer/footer.css");
@import url("./elements/footer/footer__content.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
}

body {
  position: relative;
}

.overlay {
  background-color: #000;
  opacity: 100%;
}

.overlay__active {
  background-color: #000;
  opacity: 50%;
}
